<%- include('../includes/_header.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/_navigation.ejs') %>

    <main>
        <% if(message){ %> 
            <div class="error-Message">
                <%= message %>
            </div>
            <% } %>
        <form class="login-form" action="/login" method="POST" novalidate>
           
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email" value = "<%= oldInput.email %>" class="<%= validationErrors.find(e => e.param ==='email') ? 'invalid' : ''%>">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" value="<%= oldInput.password %>" class="<%= validationErrors.find(e => e.param ==='password') ? 'invalid' : ''%>">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Login</button>
        </form>
        <div class="centered">
            <a href="/reset" class="btn-link bttn <%= path === '/reset' ? 'active' : '' %> reset">   Forgot Your Password?</a>

        </div>
       
    </main>
<%- include('../includes/_end.ejs') %>